# redirect incoming SSH connection to jump host
rdr pass log on {{ jssh_host_net_ext_if }} proto tcp \
  from any \
  to {{ jssh_host_net_ext_ip }} port {{ jssh_sshd_port }} \
  -> {{ jssh_jail_net_ip }} port {{ jssh_sshd_port }}

# redirect incoming SSH connection from jump host to host's internal ip
rdr pass log on {{ jssh_jail_net_if }} proto tcp \
  from {{ jssh_jail_net_ip }} \
  to {{ jssh_host_net_ext_ip }} port {{ jssh_sshd_port }} \
  -> {{ jssh_host_net_int_ip }} port {{ jssh_sshd_port }}

